<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h2>Customers</h2>
    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} - {{ customer.email }}</li>
        {% empty %}
            <li>No customers found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to Home</a>

    <h3>Add new Customer</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="errorlist">{{ form.errors }}</div>
        {% endif %}
        <button type="submit">Add Customer</button>
    </form>
    


</body>
</html>
